@import '../sass/variables.sass'
.contentMobile
 width:90%
 display: flex
 flex-direction: column
 justify-content: center
 align-items: center
 margin-top: 1rem
 background-color: $DarkViolet
 padding: 1rem
 border-radius: 1rem

.contentMobile a
 display: flex
 flex-direction: column
 text-align: center
 color:#fff

.login
 margin:1rem 0
 background: transparent
 border:1px solid transparent

hr
 width:80%
 
.contentMobile button
 width:80%

.imgLogo
 margin:0 1rem