@import './variables.sass'
@import './flex.sass'

.contentMobile
    width: 90%
    flex-direction: column
    @include flex
    background-color: $DarkViolet
    padding: 1rem
    border-radius: 1rem
    margin:1rem auto

.contentMobile a
    @include flex
    color: $white

.login
    margin: 1rem 0
    background: transparent
    border: 1px solid transparent

hr
    width: 80%

.contentMobile button
    width: 80%


/* mobile header*/
.headerMobile
 width:100% 
 @include flex
 justify-content: space-around
 padding: .4rem

.imgMobile
 margin:0.5rem
 max-width: 100%

@media (min-width:687px)
 .containerMobile
  display: none